html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

ul{
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import './layout';
@import './navbar';
@import './banner';
@import './contact-main';
@import './footer';